.pin {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
    cursor: pointer;
}

.selected_pin {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: green;
    cursor: pointer;
    /* pointer-events: none; */
    z-index: 1;
}

.gate_label {
    /* pointer-events: none; */
    user-select: none;
}

.gate {
    position: absolute;

    background: black;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.tool_button {
    position: absolute;
    width: 40px;
    color: white;
    cursor: pointer;
    opacity: 0.6;
}

.wire_dots {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: orange;
    /* pointer-events: none; */
}